<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <div id="app"></div>
  <script src="<%= htmlWebpackPlugin.options.dll %>"></script>
  <script>
    {/* console.log('当前环境：', `<%= htmlWebpackPlugin.options.env %>`); */}
    console.log('webpackConfig：',<%=JSON.stringify(webpackConfig) %>);
    console.log('htmlWebpackPlugin',<%=JSON.stringify(htmlWebpackPlugin) %>);
  </script>

</body>

</html>